<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>School System</title>
  </head>
  
  <body>
    <h1>Welcome to School System</h1>
        <a th:href="@{/registerStud}" id="registerStud">Register Student</a>
        <a th:href="@{/registerTeach}" id="registerStud">Register Teacher</a>
<!--         <a th:href="@{/design}" id="design">View Grades</a>
        <a th:href="@{/design}" id="design">Post Grades</a> -->
  </body>
</html>