<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<title>Register</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<link th:href="@{/css/plugins.css}" rel="stylesheet">

    <!--====== Custom CSS for themes =======-->
    
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
	
	<link rel="shortcut icon" th:href="@{/images/logos/logo.png}">
    
    <!--======== Font icon Css ============-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/themify-icons.css}" rel="stylesheet">
	
	
</head>

<body>
<header id="site-header" class="header-area">
        <div class="header-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo-menu-wrap hidden-xs hidden-sm">
                            <div class="logo">
                                <a>
                                    <img th:src="@{/images/logos/logo.png}" alt="logo">
                                </a>
                            </div><!--/.logo-->
                            
                            <div class="register-contact-nav pull-right">
                                
                                
                            </div><!--/.register-contact-nav-->
                            <div class="register-contact-nav pull-right">
                                
                                <a class="btn btn-default" href="/login">I'm Family</a>
                            </div>
                        </div><!--/.logo-menu-wrap-->
                        
                    </div><!--/.col-lg-12-->
                </div><!--/.row-->
            </div><!--/.container-fluid-->
        </div><!--/.headier-inner-->
        
        <div id="sticky-header"></div><!--/#sticky-header-->
        
        <!--Mobile Menu-->
        <div class="mobile-menu">
            <a class="mobile-logo" ><img th:src="@{/images/logo.png}" alt="logo"></a>
        </div>
    </header><!--/.header-area-->

<!--  
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<h1>Register as an ADMIN! <span th:utext="${successMessage}"></span></h1>
		</a>
		<form th:action="@{/login}" th:method="GET">
			<button class="btn btn-md btn-warning btn-block" type="Submit">Go
				To Login Page</button>
		</form>
	</nav>
	-->
                
	<div class="container">
	<div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="login-form-area">
		<form th:action="@{/registration}" th:object="${user}" th:method="POST"
			class="form-horizontal" role="form">
			<br />
			<div class="form-group">
			 <p><input class="form-control" type="text" th:field="*{Name}" name="firstname"  th:placeholder="FirstName"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('firstName')}"
					th:errors="*{firstName}">First Name Error </span>
             </div>  
              
              
              <div class="form-group">
				<p><input class="form-control" type="text" th:field="*{lastName}" name="lastname"  th:placeholder="LastName"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('lastName')}"
					th:errors="*{lastName}">Last Name Error</span>
			</div> 
			
			<div class="form-group">
				<p><input class="form-control" type="text" th:field="*{username}" name="username" th:placeholder="UserName"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}">UserName Error</span>
			</div>   
			
			
			
			<div class="form-group">
				<p><input class="form-control" type="password" th:field="*{password}" name="password" th:placeholder="Password"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">Password Error</span>
			</div>  
			
			<div class="form-group">
				<p><input class="form-control" type="text" th:field="*{deliveryStreet}" name="street" th:placeholder="Street"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('deliveryStreet')}"
					th:errors="*{deliveryStreet}">Street Error</span>
			</div>  
			
			<div class="form-group">
				<p><input class="form-control" type="text" th:field="*{deliveryCity}" name="city" th:placeholder="City"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('deliveryCity')}"
					th:errors="*{deliveryCity}">City Error</span>
			</div> 
			
			<div class="form-group">
				<p><input class="form-control" type="text" th:field="*{deliveryState}" name="state" th:placeholder="State"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('deliveryState')}"
					th:errors="*{deliveryState}">State Error</span>
			</div> 
			
			<div class="form-group">
				<p><input class="form-control" type="text" th:field="*{deliveryZip}" name="zip" th:placeholder="Zip"></p>
			 <span
					class="text-danger" th:if="${#fields.hasErrors('deliveryZip')}"
					th:errors="*{deliveryZip}">Zip Error</span>
			</div>         
                       
             <div class="form-group">
				<p><input class="form-control" type="tel" th:field="*{phoneNumber}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  name="zip" th:placeholder="Phone"></p>
			 <span class="text-danger"
					th:if="${#fields.hasErrors('phoneNumber')}"
					th:errors="*{phoneNumber}">Phone Number Error</span>
			</div>  
                              
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Sign
					Up</button>
			</div>

			

		</form>
		<hr />
		&copy; 2019 Ethio's Future HIGH
		</div>
		</div>
		</div>
		
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:href="@{/js/jquery-3.3.1.slim.min.js}"
		src="../js/jquery-3.3.1.slim.min.js"></script>
	<script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
	<script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
	<script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
</body>
</html>